.projekty {
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.nadpis {
    color: aliceblue;
    padding-bottom: 5%;
    text-align: center;
    background-color: #2B2C28;
}

.Omne {
    padding-top: 5%;
    background-color: #2B2C28;
    color: aliceblue;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;


}


hr{
    background-color: aliceblue;
    height: 1vh;
}

.sekce3 {
    background-color: #2B2C28;
}

.Omnenadpis {
    padding-top: 5%;
    padding-bottom: 2%;
}
.skillynadpis
{
    padding-bottom: 5%;
}
.Homepage {
    
    background-color:#2B2C28;
    margin-top:4%;
    padding-top:13%;
    padding-bottom:5%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: aliceblue;
    background-image: url(images/world.jpg);
    background-position: center;
}

.animace {
    padding-right: 45%;
    padding-left: 5%;
    
    color: aliceblue;
}
.profil {
    padding-right:2%;
    padding-top: 5%;
    color: aliceblue;

}

